<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang || 'en' %>">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App' %></title>

  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="preload" as="style">
  <% } %>

</head>
<body>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" defer="defer"></script>
  <% } %>

  <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
  <script>
    window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;

    <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
    ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
    <% } else { %>
    throw new Error("html-template requires googleAnalytics.trackingId config");
    <% } %>

    <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
    ga('send','pageview')
    <% } %>
  </script>
  <script src="https://www.google-analytics.com/analytics.js" defer="defer"></script>
  <% } %>
  
</body>
</html>