<% const webpackManifestName = htmlWebpackPlugin.options.inlineManifestWebpackName ? new RegExp(htmlWebpackPlugin.options.inlineManifestWebpackName, 'g') : '' %>

<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang || 'en' %>">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App' %></title>

  <% if (Array.isArray(htmlWebpackPlugin.options.meta)) { %>
  <% for (item of htmlWebpackPlugin.options.meta) { %>
  <meta<% for (key in item) { %> <%= key %>="<%= item[key] %>" <% } %>>
  <% } %>
  <% } %>

  <% if (htmlWebpackPlugin.options.links) { %>
  <% for (item of htmlWebpackPlugin.options.links) { %>
  <% if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
  <link<% for (key in item) { %> <%= key %>="<%= item[key] %>" <% } %>/>
  <% } %>
  <% } %>

  <% for (key in htmlWebpackPlugin.files.css) { %>
  <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
  <link
    rel="stylesheet"
    href="<%= htmlWebpackPlugin.files.css[key] %>"
    integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
    crossorigin="<%= webpackConfig.output.crossOriginLoading %>" 
  />
  <% } else { %>
  <link
    rel="stylesheet"
    href="<%= htmlWebpackPlugin.files.css[key] %>"
  />
  <% } %>
  <% } %>

</head>
<body>

  <% if (webpackManifestName) { %>
  <script type="text/javascript">
  <% const webpackManifest = htmlWebpackPlugin.files.js
  .filter(file => file.match(webpackManifestName))[0] 
  .replace(webpackConfig.output.publicPath, '') %>
  
  <%= compilation.assets[webpackManifest].source() %>
  </script>
  <% } %>

  <% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
  <style>.unsupported-browser { display: none; }</style>
  <div class="unsupported-browser">
    Sorry, your browser is not supported.  Please upgrade to
    the latest version or switch your browser to use this site.
    See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a>
    for options.
  </div>
  <% } %>

  <% if (htmlWebpackPlugin.options.appMount) { %>
  <%= htmlWebpackPlugin.options.appMount %>
  <% } %>

  <% Object.keys(htmlWebpackPlugin.files.chunks).filter(chunk => webpackManifestName ? !chunk.match(webpackManifestName) : chunk).forEach(chunk => { %>
  <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
  <script
    type="text/javascript"
    src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"
    integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[chunk].entry)] %>"
    crossorigin="<%= webpackConfig.output.crossOriginLoading %>">
  </script>
  <% } else { %>
  <script
    type="text/javascript"
    src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>">
  </script>
  <% } %>
  <% }) %>

  <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
  <script type="text/javascript">
    window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;

    <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
    ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
    <% } else { %>
    throw new Error("html-template requires googleAnalytics.trackingId config");
    <% } %>

    <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
    ga('send','pageview')
    <% } %>
  </script>
  <script async defer src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script>
  <% } %>

</body>
</html>