<%
const {
  generateAttributes,
  generateHeadTags,
  generateBodyTags,
  generateWebpackCSSReferences,
  generateWebpackJSReferences
} = require('./template-utils');

const {
  options: {
    title = '',
    head = {},
    body = {},
    attributes: {
      html: htmlAttrs = {},
      head: headAttrs = {},
      css: cssAttrs = {},
      body: bodyAttrs = {},
      js: jsAttrs = {}
    } = {}
  },
  files
} = htmlWebpackPlugin;
%>

<!doctype html>
<html <%= generateAttributes(htmlAttrs) %> >
  <head <%= generateAttributes(headAttrs) %> >
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= generateHeadTags(head) %>
    <%= generateWebpackCSSReferences(files, webpackConfig, cssAttrs) %>
  </head>
  <body <%= generateAttributes(bodyAttrs) %> >
    <%= generateBodyTags(body) %>
    <%= generateWebpackJSReferences(files, webpackConfig, jsAttrs) %>
  </body>
</html>